<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="fbb9d573-229a-400c-a19f-9ab4ac394afc"
            Publisher="CN=Vaffle"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>mishi1</DisplayName>
    <PublisherDisplayName>Vaffle</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="mishi1.App">
        <VisualElements
            DisplayName="mishi1"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="mishi1"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>